body {
  background-color: #262626;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-family: Arial;
  background: -webkit-linear-gradient(#00f2ff, #7000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  text-align: center;
  font-size: 64px;
  font-family: Arial;
}

.box {
  background-color: #121212;
  border: 2px solid #1d1d1d;
  padding: 20px;
  border-radius: 25px;
  margin: 20px auto;
  max-width: 3000px;
  width: 90%;
}

.link {
  font-size: 32px;
  font-family: Arial;
}

.image {
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
  width: 450px;
  height: 250px;
}

.horizontal {
  display: flex;
  justify-content: space-between;
}

.text {
  color: #00f2ff;
  font-family: Arial;
}

.specialbox {
  background-image: linear-gradient(to right, #00b5f7, #c2efff);
}

.specialtext {
  color: white;
  font-size: 32px;
}
